/* Landing page components: main-menu
   ========================================================================== */
/* Variables file: assets/stylesheets/landing-page/components/main-menu/main-menu.variables.scss */
.main-menu {
  background: transparent;
  box-shadow: none;
  padding: $main-menu-padding;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  transition: all 0.5s ease;
  width: 100%;
  z-index: $main-menu-zindex;

  .logo {
    height: $logo-height;
    left: $logo-position-left;
    position: absolute;
    transition: opacity 1s ease-in-out;
    width: $logo-width;
  }

  .btn-link {
    margin-right: $main-menu-link-margin-left;
    padding-left: 0;
    padding-right: 0;
    position: relative;

    &::before {
      background-color: $main-menu-link-color;
      bottom: 0;
      content: '';
      height: $main-menu-underline-link-height;
      left: 0;
      position: absolute;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
      visibility: hidden;
      width: 100%;
    }

    &:hover::before,
    &:focus::before {
      transform: scaleX(1);
      visibility: visible;
    }
  }

  a {
    color: $main-menu-link-color;

    &:nth-of-type(2) {
      margin-right: $main-menu-second-link;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &.solid-bg {
    background: $main-menu-solid-bg;
    box-shadow: $main-menu-shadow;

    .logo:nth-of-type(2) {
      opacity: 0;
    }

    .btn-link {
      color: $main-menu-scrolled-links-color;

      &::before {
        background-color: $main-menu-scrolled-links-color;
      }
    }

    a {

      &.btn-default {
        background: $main-menu-scrolled-btn-default-bg;
        border: 1px solid transparent;
        color: $main-menu-link-color;

        &:hover {
          background: $main-menu-scrolled-btn-default-bg-hover;
          border: 1px solid transparent;
          text-decoration: none;
        }
      }
    }
  }

  // =================================
  // Mobile version
  // =================================
  .landing-mobile-burger {
    cursor: pointer;
    display: none;
  }

  @media screen and (max-width: $sd-max) {
    padding: $m;

    .landing-mobile-burger {
      display: block;
    }

    &.solid-bg {
      .landing-mobile-burger {
        color: $bc-black;
      }
    }

    .col-sd-12 {
      display: flex;
      justify-content: flex-end;
    }

    .mobile-submenu-landing {
      display: flex;
      justify-content: space-around;
      padding: $m 0 0 0;

      a {
        margin: 0 $m;
      }

      .get-started {
        position: absolute;
        top: -35px;
      }
    }
  }
}
