/* Landing page components: introduction
   ========================================================================== */
/* Variables file: assets/stylesheets/landing-page/components/introduction/introduction.variables.scss */
.introduction {
  background: $var-intro-bg;
  background-position: bottom, top;
  background-size: auto, cover;
  margin-top: -70px;
  padding: $xxxl $xl;
  position: relative;

  @media screen and (max-width: 1300px) {
    padding-top: 100px;
  }

  strong {
    color: $introduction-strong-color;
  }

  h1 {
    margin-top: -$s;
  }

  .introduction-holder {
    margin: auto;
    position: relative;
    width: 740px;
  }

  .design-system-img {
    margin-top: 3em;

    .divider-tool-and-pencil {
      width: 130px;
    }

    .divider-tool {
      margin: 1.3em 1.3em 0;
    }

    .divider-tool-and-pencil,
    .ruler-and-keyboard,
    .mouse {
      display: inline-block;
      vertical-align: bottom;
    }

    .ruler-and-keyboard {
      margin-left: $l;
      width: 400px;
    }

    .ruler {
      margin-bottom: $m;
      width: 310px;
    }

    .mouse {
      height: 110px;
      margin-left: $l;
      width: 90px;
    }

    .svg-line-to-consistency {
      position: absolute;
      right: 28px;
      top: 93px;
    }
  }

  .consistency-autonomy-img {
    margin-top: 13em;

    .mobile-phone,
    .laptop,
    .title,
    .laptop-mobile {
      display: inline-block;
    }

    .mobile-phone,
    .laptop {
      vertical-align: bottom;
    }

    .mobile-phone {
      margin-right: $m;
      width: 50px;
    }

    .laptop {
      width: 310px;
    }

    .laptop-mobile {
      width: 380px;
    }

    .laptop-mobile,
    .title {
      vertical-align: top;
    }

    .title {
      margin-left: $xl;
      width: 320px;
    }

    h1 {
      display: flex;
      flex-direction: column;
      margin-top: 0;
    }

    .svg-line-to-market {
      left: 19px;
      position: absolute;
      top: 214px;
    }
  }

  .fast-market-img {
    margin-top: 11em;
    padding-bottom: 80px;

    .title,
    .monitor {
      display: inline-block;
      vertical-align: top;
    }

    .title {
      width: 370px;
    }

    .monitor {
      margin-left: 2.4em;
      margin-top: -30px;
      width: 300px;
    }
  }

  // =================================
  //   Mobile version
  // =================================
  @media screen and (max-width: $sd-max) {
    h1 {
      font-size: $introduction-h1-font-size;

      strong {
        display: block;
      }
    }

    h3 {
      font-size: $introduction-h3-font-size;
    }

    svg {
      display: none;
    }

    .introduction-holder {
      width: 100%;
    }

    .design-system-img {
      display: flex;
      justify-content: center;
      width: 100%;

      .divider-tool-and-pencil {
        display: flex;
        flex-direction: column;
        width: auto;

        .divider-tool {
          margin: 0 0 0 $xs;
          width: 31px;
        }

        .pencil {
          width: 45px;
        }
      }

      .ruler-and-keyboard {
        display: flex;
        flex-direction: column;
        margin-left: $s;
        max-width: 200px;
        width: 100%;

        .ruler {
          margin-bottom: $s;
          width: 100px;
        }

        .keyboard {
          width: 166px;
        }
      }
      // end ruler-keyboard

      .mouse {
        margin-left: $s;
        width: 28px;
      }

      .svg-line-to-consistency {
        right: -75px;
        top: 10px;
      }
    }
    // end design-system

    .consistency-autonomy-img {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 4em;

      .title {
        margin-left: 0;
        text-align: center;
        width: 100%;
      }

      .laptop-mobile {
        display: flex;
        justify-content: center;
        width: 100%;

        .laptop {
          width: 133px;
        }
      }
    }
    // end autonomy-img

    .fast-market-img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 4em;

      .title {
        text-align: center;
        width: 100%;
      }

      .monitor {
        margin: 0 auto;
        margin-top: $xl;
        width: 133px;
      }
    }
  }
}
