extends ../layouts/layout-main

block content
  .container.dashboard
    .row
      .col-sm-8
        h1
          | EOS Design System
        h4
          | A design system made for #{config.brand} products and the Open Source community.
      .col-sm-4
        - if (locals.config.showChangelog) {
          .changelog-box.js-changelog.changelog-box-inactive(onclick='window.location.href = "/changelog"')
            .changelog-box-left
              img.changelog-img(src='/images/components/changelog/rocket.svg')
            .changelog-box-right
              h5
                | We’ve introduced new changes.
              p
                | See the changelog for more information.
        - }
    hr.hidden-xs
    .row
      .col-xs-8
        h3.title-no-margings
          | News and tutorials
      .col-sm-4.text-right
        .carousel-controller
          .ag-arrow.js-news-tutorials-before
            i.material-icons
              | navigate_before
          .ag-arrow.js-news-tutorials-next
            i.material-icons
              | navigate_next

    .news-tutorials-carousel.carousel.js-news-tutorials-carousel
      //- Starting carousel content
      a.news-card-container.modal-link.js-launch-modal(href='/news/eos-icons-v2')
        .card.card-horizontal.featured.card-news-icons.article-content
          .card-content
            header
              h3
                | New EOS 
                br
                | icons set
            figure
              img.hidden-sd.img-responsive(src='/images/dashboard/news_icons.svg')
              img.visibile-sd.img-responsive(src='/images/dashboard/news_icons_min.svg')
          footer
            span
              | Read article
      a.news-card-container.modal-link.js-launch-modal(href='#', data-toggle='modal', data-target='#video-dashboard', data-video-name='eosWritinng')
        .card.card-horizontal.featured.card-ux-writing.video-content
          .card-content
            header
              h3
                | How to: 
                br
                | UX writing
            figure
              img.hidden-sd.img-responsive(src='/images/dashboard/ux_writing_desktop.svg')
              img.visibile-sd.img-responsive(src='/images/dashboard/ux_writing_mobile.svg')
          footer
            span
              | Watch video
      a.news-card-container.modal-link.js-launch-modal(href='#', data-toggle='modal', data-target='#video-dashboard', data-video-name='eosIcons')
        .card.card-horizontal.featured.card-documentation.video-content
          .card-content
            header
              h3
                | How to: Icons implementation
            figure
              img.hidden-sd.img-responsive(src='/images/dashboard/icon_implementation_desktop.svg')
              img.visibile-sd.img-responsive(src='/images/dashboard/icon_implementation_mobile.svg')
          footer
            span
              | Watch video
    
    //- Resources and guides
    .row.resources-guides
      h2
        | Resources and guides
      .col-xs-12.col-sm-6.col-md-4.resource-content.js-resource-content
        a.card.card-vertical.clickable(href='/icons')
          .card-content
            header
              h3
                | Icons
            p
              | From a custom EOS icon library to Material Design Icons.
              | Find the resources and documentation for a
              | meaningful use across all products.
            .figure-wrap
              figure.round
                img(src='/images/dashboard/misc-min.svg')
          footer
            | Icon
      .col-xs-12.col-sm-6.col-md-4.resource-content.js-resource-content
        a.card.card-vertical.clickable(href='/colors')
          .card-content
            header
              h3
                | Color palette
            p
              | A complete set of colors and their shades for every use case
              | following Bootstrap standards and based on  #{config.brand}'s color palette.
            .figure-wrap
              figure.round
                img(src='/images/dashboard/palette-min.svg')
          footer
            | Color palette
      .col-xs-12.col-sm-6.col-md-4.resource-content.js-resource-content
        a.card.card-vertical.clickable(href='/writing')
          .card-content
            header
              h3
                | Writing guidelines
            p
              | The full documentation and guidelines to understand how to write and communicate in a consistent way.
            .figure-wrap
              figure.round
                img(src='/images/dashboard/create-min.svg')
          footer
            | Writing guides
      .col-xs-12.col-sm-6.col-md-4.resource-content.js-resource-content
        .card.card-vertical.disabled
          .card-content
            header
              h3
                | Components
            p
              | Currently under development.
            .figure-wrap
              figure.round
                img(src='/images/dashboard/underconstruction-min.svg')
          footer
            | Coming soon
  .row
    .col-md-12.margin-bottom-xxl
      button.btn.btn-default.js-load-more
        | Load more
  include ../shared/modals/video-modal.pug
