.cookies-alert.js-cookies-alert
  .cookies-alert-body
    p
      | The EOS Design System uses cookies to help us learn more about how we can improve the design system.
      br
      a(href='/cookies-policy')
        | Learn more about our cookie policy
  .cookies-alert-buttons
    button.btn.btn-primary.js-cookies-accept
      | Accept
    a.btn.btn-default.change-preference(href='/cookies-policy')
      | Edit preferences
