aside.main-menu.js-main-menu
  .mm-navigation-container
    header
      a.hide-collapsed(href='/')
        img(src='/images/eos-logo.png')
      .mm-navigation-close.js-sidebar-toggle
        i.material-icons
          | menu
    include main-menu.pug

  include ../footer/footer-side-menu.pug
