section.submenu.js-submenu-section
  //- Colors
  nav.main-submenu(class= path.match(/.*?colors/) ? 'visible js-submenu-visible' : '')
    a.submenu-item(href='/colors/how-to', class= path === '/colors/how-to' ? 'selected' : '')
      | How to use

  //- Icons
  nav.main-submenu(class= path.match(/\/(icons(?!-))/) ? 'visible js-submenu-visible' : '')
    a.submenu-item(href='/icons/eos-icons-set', class= path === '/icons/eos-icons-set' ? 'selected' : '')
      | EOS icons set
    a.submenu-item(href='/icons/icon-ux', class= path === '/icons/icon-ux' ? 'selected' : '')
      | Icon UX
    //- Show only on development
    - if ( process.env.NODE_ENV != 'staging' && process.env.NODE_ENV != 'production') {
      a.submenu-item(href='/icons/logo-icons', class= path === '/icons/logo-icons' ? 'selected' : '')
        | Logo icons
      a.submenu-item(href='/icons/when-to-use-them', class= path === '/icons/when-to-use-them' ? 'selected' : '')
        | Do's and don'ts
    - }
    a.submenu-item(href='/icons/logo-icons-set', class= path === '/icons/logo-icons-set' ? 'selected' : '')
      | Logo icons set

  //- Writing guides
  nav.main-submenu(class= path.match(/.*?writing/) ? 'visible js-submenu-visible' : '')
    a.submenu-item(href='/writing/brand-voice', class= path === '/writing/brand-voice' ? 'selected' : '')
      | Brand voice
    a.submenu-item(href='/writing/brand-tone', class= path === '/writing/brand-tone' ? 'selected' : '')
      | Brand tone
    a.submenu-item(href='/writing/ux-writing', class= path === '/writing/ux-writing' ? 'selected' : '')
      | UX writing
    a.submenu-item(href='/writing/conventions-and-rules', class= path === '/writing/conventions-and-rules' ? 'selected' : '')
      | Conventions and rules

  //- Buttons
  nav.main-submenu(class= path.match(/.*?buttons/) ? 'visible js-submenu-visible' : '')
    a.submenu-item(href='/buttons/icon-buttons', class= path === '/buttons/icon-buttons' ? 'selected' : '')
      | Icon buttons
    a.submenu-item(href='/buttons/sizing', class= path === '/buttons/sizing' ? 'selected' : '')
      | Sizing
  
  //- Responsive nav
  .dropdown.dropdown-more.js-submenu-more
    a.submenu-item.dropdown-toggle(data-toggle='dropdown')
      i.material-icons.md-24
        | more_horiz
    ul.dropdown-menu.dropdown-menu-left.js-submenu-content
      li
        span More
      li.js-submenu-more-list
