/* Typography page
   ========================================================================== */
/* Variables: /assets/stylesheets/pages/typography/typography.variables.scss */

.design-spec-file {
  box-shadow: $type-scale-container-box-shadow;
  display: inline-block;
  margin-top: $design-spec-file-margin-top;
  padding: $design-spec-file-padding;
}

.primary-alternative-block {

  ul {
    margin-top: $pa-block-margin-top;
  }

  .alternative-typeface {
    font-family: $alternative-typeface-font-family;
    font-weight: $alternative-typeface-font-weight;
  }

  h4 {
    margin-bottom: $pa-block-h4-margin-bottom;
  }

  p {
    margin-bottom: $pa-block-p-margin;
    margin-top: $pa-block-p-margin;
  }
}

.type-scale-container {
  box-shadow: $type-scale-container-box-shadow;
  overflow: auto;

  ul {
    margin-bottom: 0;
    padding: $type-scale-container-ul-padding;

    li {
      border-bottom: $type-scale-container-li-border-bottom;
      overflow: auto;
      padding: $type-scale-container-li-padding;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        line-height: $type-scale-container-h-tag-line-height;
        margin-bottom: 0;
        margin-top: 0;
      }

      &:last-child {
        border-bottom: 0;
      }

      p {
        line-height: $type-scale-container-h-tag-line-height;
        margin-bottom: 0;
        margin-top: 0;
      }
    }
  }
}

.color-box {
  display: inline-block;
  width: $color-box-width;

  .color {
    box-shadow: $type-scale-container-box-shadow;
    height: $color-box-color-height;
    width: $color-box-color-width;
  }

  .bc-gray-900 {
    background: $color-bc-gray-900-background;
  }

  .bc-gray-100 {
    background: $color-bc-gray-100-background;
  }

  .bc-black {
    background: $color-bc-black-background;
  }

  .bc-white {
    background: $color-bc-white-background;
  }

  .bc-green-500 {
    background: $color-bc-green-500-background;
  }
}
